.blog-form {
    padding: 1rem 0;
    display: grid;
    grid-gap: 1rem;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.blog-form__title {
    width: 300px;
    justify-self: center;

}

.blog-form__body {
    width: 600px;
    height: 250px;
}

.blog-form__button {
    width: 300px;
    justify-self: center;
}