.filters {
    display: grid;
    grid-template-columns: 2fr 100px 1fr;
    gap: 20px;
}

.filters__search {
    grid-column: 1 / 2;
    max-width: 250px;
}

.filters__select {
    grid-column: 2 / 3;
    max-width: 100px;
}

.filters__add {
    grid-column: 3 / 4;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 4%;
    padding: 5px;
    
}