@import './basics';

.nav {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    height: 40px;     
    grid-gap: 1rem;
}

.nav__logo {
    grid-column: 2 / 3;
    font-size: $large;
    
}
.nav__logout {
    font-size: $small;
    justify-self: start;
}

.nav__link {
    align-self: center;
    color: black;
    text-transform: uppercase;
    font-size: $small;
    justify-self: end;
}

.nav__logo,  .nav__logout {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
}


 